<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      style="height: 100%">
<body style="display: flex;
    flex-direction: column;
    height: 100%;">

<head th:replace="~{fragments/header :: header}"></head>
<!-------------------->
<div class="container blog-content-container">
<div class="card-header bg-dark font-white">

    <div class="input-group col-md-7 col-xl-6">

        <input type="text" class="form-control" id="searchName"
               placeholder="输入发行日期进行搜索"> <span class="input-group-btn">
			<button class="btn btn-secondary" type="button" id="searchNameBtn">
				<i class="fa fa-search" aria-hidden="true"></i>
			</button>
		</span>
        <a class="btn btn-primary" data-toggle="modal"
                   data-target="#flipFlop" role="button" id="addPage">
            <i class="fa fa-plus" style="color: white"></i>
        </a>
        <a class="btn btn-primary" role="button" id="back" th:href="@{'/admins'}"><i
                class="fa fa-backward" ></i>
        </a>

    </div>
</div>

<div id="mainContainer" class="container">
    <div id="mainContainerReplace" class="oldMongolContent">
        <table class="table table-striped">
            <thead>
            <tr >
                <th data-field="id"  class="notMongolContent">ID</th>
                <th data-field="pageName"  class="notMongolContent">版面名称</th>
                <th data-field="pageName"  class="notMongolContent">版面描述</th>
                <th data-field="createTime"  class="notMongolContent">创建时间</th>
                <th data-field="modifyTime"  class="notMongolContent">修改时间</th>
                <th data-field="state"  class="notMongolContent">状态</th>
                <th data-field="operation"  class="notMongolContent">操作</th>

            </tr>
            </thead>
            <tbody>

            <tr th:each="page : ${pageModel.pageList}">
                <td th:text="${page.id}">1</td>
                <td class="oyun-font" ><a th:text="${page.pageName}" th:href="@{'/pages/'+${page.id}}"></td>
                <td class="oyun-font" th:text="${page.description}"></td>
                <td th:text="${page.createTime}"></td>
                <td th:text="${page.modifyTime}"></td>
                <td th:switch="${page.state}">
                    <p th:case="'1'">已删除</p>
                    <!-- *: case的默认的选项 -->
                    <p th:case="0">正常</p>
                </td>
                <td>
                    <div>
                        <a class="page-edit-page" data-toggle="modal"
                           data-target="#flipFlop" role="button"
                           data-th-attr="pageId=${page.id}"> <i
                                class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                        <a class="page-delete-page" role="button"
                           data-th-attr="pageId=${page.id}"> <i class="fa fa-times"
                                                                  aria-hidden="true"></i>
                        </a>
                    </div>
                </td>
            </tr>

            </tbody>

        </table>


    </div>
    <div th:replace="~{fragments/page :: page}" >...</div>
</div>
<!-- The modal -->
<div class="modal fade" id="flipFlop" tabindex="-1" role="dialog"
     aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalLabel">新增/编辑</h4>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body" id="pageFormContainer"></div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" id="submitEdit">提交</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>
<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
<script th:inline="javascript">
    var paperId = [[${pageModel.paperId}]];
</script>
<script src="../../js/pages/main.js" th:src="@{/js/pages/main.js}"></script>
</html>