<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0, user-scalable=no">
  <title>中国蒙古语新闻网</title>

    <link href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link href="../../css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet">
    <link href="../../css/bootstrap-datetimepicker.min.css" th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen">
    <link href="../../css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link href="../../css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
	<link href="../../css/content.css" th:href="@{/css/content.css}" rel="stylesheet">
    <!-- bootstrap datetimepicker CSS -->
    <!-- Tether core CSS -->
    <link href="../../css/tether.min.css" th:href="@{/css/tether.min.css}" rel="stylesheet">


</head>
<body>

<div id="wrapper">
	<div class="header_xl">
        <div class="xl_logo"><a th:href="@{'/'}"><img th:src="@{'/images/logo_d.png'}"></a></div>
		<h2 class="mw"><span style="writing-mode: sideways-rl;">ᠮᠣᠩᠭᠣᠯ ᠲᠡᠦᠬᠡᠨ ᠰᠣᠨᠢᠨ</span> </h2>
	</div>
	<div class="xl_right_box_a">
		<div class="js_box">
            <form th:action="@{/epaper/article/search}" method="get">
                <div class="js_top mw"> <span style="writing-mode: sideways-rl">ᠡᠳᠦᠷ<br>ᠰᠠᠷ᠎ᠠ<br>ᠪᠡᠷ<br>ᠬᠠᠢᠬᠤ</span></div>
                <div class="rl mw f18">
                    <div style="writing-mode: horizontal-tb;" >
                        <div class="input-group date form_date col-md-15" >
                            <input name="releaseDate" class="form-control" size="16" type="text" th:value="${releaseDate}" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class="js_b">
                <div class="ss_js">
                  <input id="keywords" class="btn_search_aa" type="text" name="keywords" th:value="${keywords}"/>
                </div>
                <div class="ss_jss">
                    <div class="RadioStyle" style="writing-mode: sideways-rl;">
                        <div class="Block PaddingL">
                            <input type="radio" name="wordType" id="all" checked  value=""/>
                            <label for="all"><p class="checkLabel">ᠪᠦᠭᠦᠳᠡ</p></label>
                            <input type="radio" name="wordType" id="content" th:checked="${wordType}=='content'" value="content"/>
                            <label for="content"><p class="checkLabel">ᠠᠭᠤᠯᠭ᠎ᠠ</p></label>
                            <input type="radio" name="wordType" id="title" th:checked="${wordType}=='title'" value="title"/>
                            <label for="title"><p class="checkLabel">ᠭᠠᠷᠴᠠᠭ</p></label>
                            <input type="radio" name="wordType" id="author" th:checked="${wordType}=='author'" value="author"/>
                            <label for="author"><p class="checkLabel">ᠨᠠᠢᠷᠠᠭᠤᠯᠤᠭᠴᠢ</p></label>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <button class="btn_search_bbb" type="submit"/>
                </div>
            </form>
		</div>
   </div>
   <div  class="xl_right_box_b mw">
	   <div id="searchList">

       </div>
       <div class="js_more f18">
           <div id="pagination"></div>
       </div>
		<div class="xl_footer f18">
		2008-2018 © ᠳᠤᠮᠳᠠᠳᠤ ᠤᠯᠤᠰ ᠤᠨ ᠮᠤᠩᠭᠤᠯ ᠬᠡᠯᠡᠨ ᠤ ᠰᠤᠨᠢᠨ ᠮᠡᠳᠡᠭᠡᠨ ᠤ ᠰᠦᠯᠵᠢᠶ᠎ᠡ ᠦᠮᠴᠢᠯᠡᠯ ᠤᠨ ᠡᠷᠬᠡ ᠲᠠᠢ<Br>
		ᠵᠤᠬᠢᠶᠠᠭᠴᠢ ᠶᠢᠨ ᠡᠷᠬᠡ ᠬᠠᠤᠯᠢ ᠪᠠᠷ ᠬᠠᠮᠠᠭᠠᠯᠠᠭᠳᠠᠭᠰᠠᠨ᠂ ᠵᠦᠪᠰᠢᠶᠡᠷᠡᠯ ᠦᠭᠡᠢ ᠪᠠᠷ ᠬᠠᠭᠤᠯᠪᠤᠷᠢᠯᠠᠬᠤ ᠶᠢ ᠬᠠᠲᠠᠭᠤ ᠬᠤᠷᠢᠭᠯᠠᠨ᠎ᠠ<Br>
            ᠦᠪᠦᠷ ᠮᠣᠩᠭᠣᠯ ᠤᠨ ᠣᠶᠣᠨ ᠵᠠᠩᠬᠢ ᠮᠡᠷᠭᠡᠵᠢᠯ ᠤᠨ ᠦᠢᠯᠡᠴᠢᠯᠡᠭᠡᠨ ᠤ ᠬᠢᠵᠠᠭᠠᠷᠲᠤ ᠺᠣᠮᠫᠠᠨᠢ ᠮᠡᠷᠭᠡᠵᠢᠯ ᠬᠠᠩᠭᠠᠪᠠ<br>
            ᠬᠠᠷᠢᠯᠴᠠᠬᠤ ᠤᠲᠠᠰᠤ᠄ 0471-6659832<Br>
		ᠢᠮᠧᠯ᠄ tn@mgyxw.net   蒙ICP备10000005号
        </div>
	</div>
</div>

<script src="../../js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script src="../../js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
<script src="../../js/jquery.form.min.js" th:src="@{/js/jquery.form.min.js}"></script>
<script src="../../js/tether.min.js" th:src="@{/js/tether.min.js}"></script>
<script src="../../js/articles/pagination.min.js" th:src="@{/js/articles/pagination.min.js}"></script>
<script src="../../js/papers/datepicker/bootstrap-datetimepicker.min.js" th:src="@{/js/papers/datepicker/bootstrap-datetimepicker.min.js}"></script>
<script src="../../js/papers/datepicker/locales/bootstrap-datetimepicker.zh-CN.js" th:src="@{/js/papers/datepicker/locales/bootstrap-datetimepicker.zh-CN.js}"></script>

<script type="text/javascript">
    $('.form_date').datetimepicker({
        format: 'yyyy-mm-dd',
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 1
    });
</script>
<script>
	$(document).ready(function(){
		$(".js_title").click(function(){
			$(".js_title").css('background',"#cecebf");
			$(this).next().addClass('a').toggle();
			$('.js_content').not('.a').hide();
			$(this).css('background',"#cecebf");
			$('.js_content').toggleClass('a');
			$(".js_title ul a").css('color',"#fff");
			$(".js_title ul p").css('color',"#444");
			if($(this).next().css("display")=="none"){
				$(this).css('background',"#cecebf");
				$(this).find('a').css('color',"#fff");
			}else{
				$(this).css('background',"#cecebf");	
				$(this).find('a').css('color',"#8D4703");
				$(this).find('p').css('color',"#8D4703");
			}

		});
	});
</script>
<script th:inline="javascript">
    var pageIndex = 1;  //页面索引初始值
    var pageSize = 10;  //每页显示条数初始化，修改显示条数，修改这里即可
    var a = [[${total}]];
    $(function () {
        $("#pagination").pagination({
            dataSource: function(done){
                var result = [];
                for (var i = 1; i <= a; i++) {
                    result.push(i);
                }
                done(result);
            } ,
            callback: PageCallback, //PageCallback() 为翻页调用次函数。
            pageSize: pageSize,
            autoHidePrevious: true,
            autoHideNext: true,
            prevText : "<<",//自定义“上一页”标签
            nextText : ">>",//自定义“下一页”标签
            // prev_text: "« 上一页",
            // next_text: "下一页 »",
            // items_per_page:pageSize,
            // num_edge_entries: 2,  //两侧首尾分页条目数
            // num_display_entries: 6, //连续分页主体部分分页条目数
            pageNumber: pageIndex, //当前页索引,
            ulClassName:"pageNumber",
            activeClassName:"page-active"
        });

        function PageCallback(data, pagination) {
            InitTable(data[0]);
        }
        function InitTable(pageNumber) {
            $.ajax({
                type: "get",
                contentType : 'application/json',
                url: '/epaper/article/getClickList',  //提交到一般处理程序请求数据
                data: {
                    "start": pageNumber,
                    "size":pageSize,
                },
                success: function(data) {
                    $("#searchList").html(data);
                }
            });
        }
    });

</script>

</body>
</html>
