<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0, user-scalable=no">
  <title>中国蒙古语新闻网</title>
    <link href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link href="../../css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet">
    <link href="../../css/bootstrap-datetimepicker.min.css" th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen">
    <link href="../../css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link href="../../css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
	<link href="../../css/content.css" th:href="@{/css/content.css}" rel="stylesheet">
    <link href="../../libs/hotspots/css/leaflet.css" th:href="@{/libs/hotspots/css/leaflet.css}" rel="stylesheet">
    <link href="../../libs/hotspots/css/leaflet.draw-src.css" th:href="@{/libs/hotspots/css/leaflet.draw-src.css}" rel="stylesheet">
    <link href="../../libs/hotspots/css/leaflet.label.css" th:href="@{/libs/hotspots/css/leaflet.label.css}" rel="stylesheet">
    <link href="../../libs/hotspots/css/sweetalert2.min.css" th:href="@{/libs/hotspots/css/sweetalert2.min.css}" rel="stylesheet">

</head>
<body>

<div id="wrapper">
    <div class="header_xl">
        <div class="xl_logo"><a th:href="@{'/'}"><img th:src="@{'/images/logo_d.png'}"></a></div>
        <h1 class="mw"><span style="writing-mode: sideways-rl;">ᠮᠣᠩᠭᠣᠯ ᠲᠡᠦᠬᠡᠨ ᠰᠣᠨᠢᠨ</span></h1>
        <div class="ss_xl">
            <form th:action="@{~/epaper/article/search}" method="get">
                <input id="keywords" class="btn_search_aa" type="text" name="keywords" value="ᠵᠠᠩᠭᠢᠯᠠᠭ᠎ᠠ ᠶ᠋ᠢᠨ ᠦᠭᠡᠰ ᠢᠶᠡᠨ ᠡᠨᠳᠡ ᠪᠢᠴᠢ" onclick="if(this.value='ᠵᠠᠩᠭᠢᠯᠠᠭ᠎ᠠ ᠶ᠋ᠢᠨ ᠦᠭᠡᠰ ᠢᠶᠡᠨ ᠡᠨᠳᠡ ᠪᠢᠴᠢ'){this.value='';this.style.color='a8a8b7';}" onblur="if(this.value==''){ this.value='ᠵᠠᠩᠭᠢᠯᠠᠭ᠎ᠠ ᠶ᠋ᠢᠨ ᠦᠭᠡᠰ ᠢᠶᠡᠨ ᠡᠨᠳᠡ ᠪᠢᠴᠢ';this.style.color='a8a8b7';}else{this.style.color='a8a8b7';}">
                <button class="btn_search_bb" type="submit" id="searchByWord"/>
            </form>
        </div>

    </div>
    <div class="xl_right_box_a mw">

        <div class="pdf_box">
            <div class="rl mw f18" style="writing-mode: vertical-lr">
                <form th:action="@{~/epaper/paper}" method="get">
                    <div style="writing-mode: horizontal-tb" >
                        <div class="input-group date form_date col-md-15" style="width: 350px;padding: 12px" >
                            <input name="releaseDate" class="form-control" type="text" th:value="${articleModel.article.releaseDate}" style="font-size: 16px;text-align: center;" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <button class="btn_search" type="submit"/>
                </form>
            </div>
            <div class="pdf">
                <div id='image-map' style="width:390px; height:502px;"></div>
            </div>
        </div>

        <div class="title_box f20" data-th-text="${articleModel.article.title}"></div>
        <div class="tvga f18" style="writing-mode: sideways-rl;">   <span data-th-text="${articleModel.article.readSize}"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span data-th-text="${articleModel.page.releaseDate}"></span></div>
        <div class="xl_content f18" data-th-utext="${articleModel.article.contentHtml}" ></div>
        <div class="auther f18" style="writing-mode: sideways-rl;">
            ᠨᠠᠢᠷᠠᠭᠤᠯᠤᠭᠴᠢ ᠄  <span data-th-text="${articleModel.article.author}"></span><br>
            ᠢᠷᠡᠯᠲᠡ ᠄ ᠳᠤᠮᠳᠠᠲᠤ ᠤᠯᠤᠰ ᠤᠨ ᠮᠣᠩᠭᠣᠯ ᠬᠡᠯᠡᠨ ᠤ ᠰᠣᠨᠢᠨ ᠮᠡᠳᠡᠭᠡ ᠶ᠋ᠢᠨ ᠰᠦᠯᠵᠢᠶ᠎ᠡ
        </div>
        <div class="xl_footer f18">
            2008-2018 © ᠳᠤᠮᠳᠠᠳᠤ ᠤᠯᠤᠰ ᠤᠨ ᠮᠤᠩᠭᠤᠯ ᠬᠡᠯᠡᠨ ᠤ ᠰᠤᠨᠢᠨ ᠮᠡᠳᠡᠭᠡᠨ ᠤ ᠰᠦᠯᠵᠢᠶ᠎ᠡ ᠦᠮᠴᠢᠯᠡᠯ ᠤᠨ ᠡᠷᠬᠡ ᠲᠠᠢ<Br>
            ᠵᠤᠬᠢᠶᠠᠭᠴᠢ ᠶᠢᠨ ᠡᠷᠬᠡ ᠬᠠᠤᠯᠢ ᠪᠠᠷ ᠬᠠᠮᠠᠭᠠᠯᠠᠭᠳᠠᠭᠰᠠᠨ᠂ ᠵᠦᠪᠰᠢᠶᠡᠷᠡᠯ ᠦᠭᠡᠢ ᠪᠠᠷ ᠬᠠᠭᠤᠯᠪᠤᠷᠢᠯᠠᠬᠤ ᠶᠢ ᠬᠠᠲᠠᠭᠤ ᠬᠤᠷᠢᠭᠯᠠᠨ᠎ᠠ<Br>
            ᠦᠪᠦᠷ ᠮᠣᠩᠭᠣᠯ ᠤᠨ ᠣᠶᠣᠨ ᠵᠠᠩᠬᠢ ᠮᠡᠷᠭᠡᠵᠢᠯ ᠤᠨ ᠦᠢᠯᠡᠴᠢᠯᠡᠭᠡᠨ ᠤ ᠬᠢᠵᠠᠭᠠᠷᠲᠤ ᠺᠣᠮᠫᠠᠨᠢ ᠮᠡᠷᠭᠡᠵᠢᠯ ᠬᠠᠩᠭᠠᠪᠠ<br>
            ᠬᠠᠷᠢᠯᠴᠠᠬᠤ ᠤᠲᠠᠰᠤ᠄ 0471-6659832<Br>
            ᠢᠮᠧᠯ᠄ tn@mgyxw.net   蒙ICP备10000005号
        </div>
    </div>
</div>

<script>
    function getArticlesByName() {
        $.ajax({
            url: "/epaper/article/search",
            async : false,
            type:"GET",
            contentType : 'application/json',
            data:{
                "keywords":$("#keywords").val()
            },
            success: function(data){
                console.log(data)
            },
            error : function() {
                console.log(4321)
            }
        });
    }

</script>
<script th:inline="javascript">
    var pageImagePath = [[${articleModel.page.pageImagePath}]];
    var coordinate = [[${articleModel.article.coordinate}]];
</script>
<script src="../../js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script src="../../js/jquery.form.min.js" th:src="@{/js/jquery.form.min.js}"></script>
<script src="../../js/articles/articlesedit.js" th:src="@{/js/articles/articlesedit.js}"></script>
<script src="../../libs/hotspots/js/leaflet-src.js" th:src="@{/libs/hotspots/js/leaflet-src.js}"></script>
<script src="../../libs/hotspots/js/leaflet.draw-src.js" th:src="@{/libs/hotspots/js/leaflet.draw-src.js}"></script>
<script src="../../libs/hotspots/js/leaflet.label.js" th:src="@{/libs/hotspots/js/leaflet.label.js}"></script>
<script src="../../libs/hotspots/js/leaflet.draw.lang.zh-cn.js" th:src="@{/libs/hotspots/js/leaflet.draw.lang.zh-cn.js}"></script>
<script src="../../libs/hotspots/js/pinyin_dict_firstletter.js" th:src="@{/libs/hotspots/js/pinyin_dict_firstletter.js}"></script>
<script src="../../libs/hotspots/js/pinyinUtil.js" th:src="@{/libs/hotspots/js/pinyinUtil.js}"></script>
<script src="../../js/papers/datepicker/bootstrap-datetimepicker.min.js" th:src="@{/js/papers/datepicker/bootstrap-datetimepicker.min.js}"></script>
<script src="../../js/papers/datepicker/locales/bootstrap-datetimepicker.zh-CN.js" th:src="@{/js/papers/datepicker/locales/bootstrap-datetimepicker.zh-CN.js}"></script>

<script type="text/javascript">
    $('.form_date').datetimepicker({
        format: 'yyyy-mm-dd',
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 1
    });
</script>
</body>
</html>
