<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0, user-scalable=no">
  <title>中国蒙古语新闻网—历史报</title>
    <link href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link href="../../css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet">
    <link href="../../css/bootstrap-datetimepicker.min.css" th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen">
    <link href="../../css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link href="../../css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
	<link href="../../css/content.css" th:href="@{/css/content.css}" rel="stylesheet">
    <link href="../../libs/hotspots/css/leaflet.css" th:href="@{/libs/hotspots/css/leaflet.css}" rel="stylesheet">
    <link href="../../libs/hotspots/css/leaflet.draw-src.css" th:href="@{/libs/hotspots/css/leaflet.draw-src.css}" rel="stylesheet">
    <link href="../../libs/hotspots/css/leaflet.label.css" th:href="@{/libs/hotspots/css/leaflet.label.css}" rel="stylesheet">
    <link href="../../libs/hotspots/css/sweetalert2.min.css" th:href="@{/libs/hotspots/css/sweetalert2.min.css}" rel="stylesheet">

</head>
<body>

<div id="wrapper">
    <div class="header_xl">
        <div class="xl_logo"><a th:href="@{'/'}"><img th:src="@{'/images/logo_d.png'}"></a></div>
        <img style="margin: 150px 0 0 4px; float: left;width: 40%;height: 40%" th:src="@{'/images/lishibao.png'}"/>
        <div class="ss_xl">
            <form th:action="@{~/epaper/article/search}" method="get">
                <input id="keywords" class="btn_search_aa" type="text" name="keywords" placeholder="ᠵᠠᠩᠭᠢᠯᠠᠭ᠎ᠠ ᠶ᠋ᠢᠨ ᠦᠭᠡᠰ ᠢᠶᠡᠨ ᠡᠨᠳᠡ ᠪᠢᠴᠢᠭᠡᠷᠡᠢ">
                <button class="btn_search_bb" type="submit" id="searchByWord"/>
            </form>
        </div>

    </div>
    <div class="xl_right_box_a mw">

        <div class="pdf_box">
            <div class="rl mw f18" style="writing-mode: vertical-lr">
                <form th:action="@{~/epaper/paper}" method="get">
                    <div style="writing-mode: horizontal-tb;-ms-writing-mode: lr-tb;width: 350px" >
                        <div class="input-group date form_date col-md-15" style="width: 330px;padding: 12px;font-family:'sans-serif';" >
                            <input name="releaseDate" class="form-control" type="text" th:value="${articleModel.article.releaseDate}" style="font-size: 16px;text-align: center;" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <button class="btn_search" type="submit"/>
                </form>
            </div>
            <div class="pdf">
                <div id='image-map' style="width:350px; height:470px;-ms-writing-mode: lr-tb"></div>
            </div>
        </div>
        <div >
            <div  th:each="page:${pageList}" style="margin: 7px;">
                <p onclick="switchPage(this)" class="left_b_p" th:if="${page.id} !=${currentPage.id}"  data-th-text="${page.pageName}" th:attr="pageId=${page.id},releaseDate=${page.releaseDate}" style="cursor:pointer;"></p>
                <p onclick="switchPage(this)" class="left_b_p_c" th:if="${page.id} ==${currentPage.id}" data-th-text="${page.pageName}" th:attr="pageId=${page.id},releaseDate=${page.releaseDate}" style="cursor:pointer;"></p>
            </div>
        </div>

            <div class="title_box f20" data-th-text="${articleModel.article.title}"></div>
            <div class="tvga f18" style="writing-mode: sideways-rl;">ᠤᠩᠰᠢᠭᠰᠠᠨ ᠤᠳᠠᠭ᠎ᠠ  <span data-th-text="${articleModel.article.readSize}"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:'sans-serif';" data-th-text="${articleModel.currentPage.releaseDate}"></span></div>
            <div class="xl_content f18" data-th-utext="${articleModel.article.contentHtml}" ></div>
            <div class="auther f18" style="writing-mode: sideways-rl;">
                ᠨᠠᠢᠷᠠᠭᠤᠯᠤᠭᠴᠢ ᠄  <span data-th-text="${articleModel.article.author}"></span><br>
                ᠢᠷᠡᠯᠲᠡ ᠄ ᠳᠤᠮᠳᠠᠲᠤ ᠤᠯᠤᠰ ᠤᠨ ᠮᠣᠩᠭᠣᠯ ᠬᠡᠯᠡᠨ ᠤ ᠰᠣᠨᠢᠨ ᠮᠡᠳᠡᠭᠡ ᠶ᠋ᠢᠨ ᠰᠦᠯᠵᠢᠶ᠎ᠡ
            </div>
        <div class="xl_footer f18">
            <span style="font-family:'sans-serif'">2008-2018</span> © ᠳᠤᠮᠳᠠᠳᠤ ᠤᠯᠤᠰ ᠤ᠋ᠨ ᠮᠣᠩᠭᠣᠯ ᠬᠡᠯᠡᠨ ᠦ᠌ ᠰᠣᠨᠢᠨ
            ᠮᠡᠳᠡᠭᠡᠨ ᠦ᠌ ᠰᠦᠯᠵᠢᠶ᠎ᠡ ᠥᠮᠴᠢᠯᠡᠯ ᠦ᠋ᠨ ᠡᠷᠬᠡ ᠲᠡᠢ ᠵᠣᠬᠢᠶᠠᠭᠴᠢ ᠶ᠋ᠢᠨ ᠡᠷᠬᠡ ᠬᠠᠤᠯᠢ ᠪᠠᠷ ᠬᠠᠮᠠᠭᠠᠯᠠᠭᠳᠠᠭᠰᠠᠨ᠂
            ᠵᠥᠪᠱᠢᠶᠡᠷᠡᠯ ᠦᠭᠡᠢ ᠪᠡᠷ ᠬᠠᠭᠤᠯᠪᠤᠷᠢᠯᠠᠬᠤ ᠶ᠋ᠢ ᠬᠠᠲᠠᠭᠤ ᠬᠣᠷᠢᠭᠯᠠᠨ᠎ᠠ <br/>ᠥᠪᠥᠷ ᠮᠣᠩᠭᠣᠯ ᠤ᠋ᠨ ᠣᠶᠤᠨ ᠵᠠᠩᠭᠢ ᠮᠡᠷᠭᠡᠵᠢᠯ 
            ᠦ᠋ᠨ ᠦᠢᠯᠡᠴᠢᠯᠡᠭᠡᠨ ᠦ᠌ ᠬᠢᠵᠠᠭᠠᠷᠲᠤ ᠺᠣᠮᠫᠠᠨᠢ ᠮᠡᠷᠭᠡᠵᠢᠯ ᠬᠠᠩᠭᠠᠪᠠ<br/> ᠬᠠᠷᠢᠯᠴᠠᠬᠤ ᠤᠲᠠᠰᠤ᠄ <span style="font-family:'sans-serif'">0471-6659832</span><Br>
            ᠢᠮᠧᠯ᠄ tn@mgyxw.net   蒙ICP备10000005号
        </div>
    </div>
</div>

<script>
    function getArticlesByName() {
        $.ajax({
            url: "/epaper/article/search",
            async : false,
            type:"GET",
            contentType : 'application/json',
            data:{
                "keywords":$("#keywords").val()
            },
            success: function(data){
                console.log(data)
            },
            error : function() {
                console.log(4321)
            }
        });
    }

</script>
<script th:inline="javascript">
    var path= [[${articleModel.currentPage.pageImagePath}]];
    var pageImagePath = path.replace("image/","image/front/");
    var coordinate = [[${articleModel.article.coordinate}]];
    var coordinateMap = [[${articleModel.coordinateMap}]];
</script>
<script src="../../js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script src="../../js/jquery.form.min.js" th:src="@{/js/jquery.form.min.js}"></script>
<script src="../../js/articles/articlesedit.js" th:src="@{/js/articles/articlesedit.js}"></script>
<script src="../../libs/hotspots/js/leaflet-src.js" th:src="@{/libs/hotspots/js/leaflet-src.js}"></script>
<script src="../../libs/hotspots/js/leaflet.draw-src.js" th:src="@{/libs/hotspots/js/leaflet.draw-src.js}"></script>
<script src="../../libs/hotspots/js/leaflet.label.js" th:src="@{/libs/hotspots/js/leaflet.label.js}"></script>
<script src="../../libs/hotspots/js/leaflet.draw.lang.zh-cn.js" th:src="@{/libs/hotspots/js/leaflet.draw.lang.zh-cn.js}"></script>
<script src="../../libs/hotspots/js/pinyin_dict_firstletter.js" th:src="@{/libs/hotspots/js/pinyin_dict_firstletter.js}"></script>
<script src="../../libs/hotspots/js/pinyinUtil.js" th:src="@{/libs/hotspots/js/pinyinUtil.js}"></script>
<script src="../../js/papers/datepicker/bootstrap-datetimepicker.min.js" th:src="@{/js/papers/datepicker/bootstrap-datetimepicker.min.js}"></script>
<script src="../../js/papers/datepicker/locales/bootstrap-datetimepicker.zh-CN.js" th:src="@{/js/papers/datepicker/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
<script language="JavaScript">
    var articleId = [[${articleModel.article.id}]];
    function mobile_device_detect(url)
    {
        var thisOS=navigator.platform;
        var os=new Array("iPhone","iPod","iPad","android","Nokia","SymbianOS","Symbian","Windows Phone","Phone","Linux armv71","MAUI","UNTRUSTED/1.0","Windows CE","BlackBerry","IEMobile");
        for(var i=0;i<os.length;i++)
        {
            if(thisOS.match(os[i]))
            {
                window.location=url;
            }
        }
//因为相当部分的手机系统不知道信息,这里是做临时性特殊辨认
        if(navigator.platform.indexOf('iPad') != -1)
        {
            window.location=url;
        }
//做这一部分是因为Android手机的内核也是Linux
//但是navigator.platform显示信息不尽相同情况繁多,因此从浏览器下手，即用navigator.appVersion信息做判断
        var check = navigator.appVersion;
        if( check.match(/linux/i) )
        {
//X11是UC浏览器的平台 ，如果有其他特殊浏览器也可以附加上条件
            if(check.match(/mobile/i) || check.match(/X11/i))
            {
                window.location=url;
            }
        }
//类in_array函数
        Array.prototype.in_array = function(e)
        {
            for(i=0;i<this.length;i++)
            {
                if(this[i] == e)
                    return true;
            }
            return false;
        }
    }
    mobile_device_detect("/epaper/mobile/article/"+articleId);
</script>
<script type="text/javascript">
    var releaseDate = [[${articleModel.article.releaseDate}]];
    $('.form_date').datetimepicker({
        format: 'yyyy-mm-dd',
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 4,
        minView: 2,
        forceParse: 1,
        initialDate:releaseDate
    });
    function switchPage(e){
        var pageId = $(e).attr('pageId');
        var releaseDate = $(e).attr('releaseDate');
        location.href = "/epaper/paper?releaseDate="+releaseDate+"&pageId="+pageId;
    }
</script>
</body>
</html>
