<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0, user-scalable=no">
  <title>中国蒙古语新闻网</title>
    <link href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link href="../../css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet">
    <link href="../../css/bootstrap-datetimepicker.min.css" th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen">
    <link href="../../css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link href="../../css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link href="../../css/content.css" th:href="@{/css/content.css}" rel="stylesheet">
    <link href="../../libs/hotspots/css/leaflet.css" th:href="@{/libs/hotspots/css/leaflet.css}" rel="stylesheet">
    <link href="../../libs/hotspots/css/leaflet.draw-src.css" th:href="@{/libs/hotspots/css/leaflet.draw-src.css}" rel="stylesheet">
    <link href="../../libs/hotspots/css/leaflet.label.css" th:href="@{/libs/hotspots/css/leaflet.label.css}" rel="stylesheet">
    <link href="../../libs/hotspots/css/sweetalert2.min.css" th:href="@{/libs/hotspots/css/sweetalert2.min.css}" rel="stylesheet">

</head>
<body>

<div id="wrapper">
    <div class="header_xl">
        <div class="xl_logo"><a th:href="@{'/'}"><img th:src="@{'/images/logo_d.png'}"></a></div>
        <h1 class="mw"><span style="writing-mode: sideways-rl">ᠮᠣᠩᠭᠣᠯ ᠲᠡᠦᠬᠡᠨ ᠰᠣᠨᠢᠨ</span></h1>
        <div class="ss_xl">
            <form th:action="@{~/epaper/article/search}" method="get">
                <input id="keywords" class="btn_search_aa" type="text" name="keywords" value="ᠵᠠᠩᠭᠢᠯᠠᠭ᠎ᠠ ᠶ᠋ᠢᠨ ᠦᠭᠡᠰ ᠢᠶᠡᠨ ᠡᠨᠳᠡ ᠪᠢᠴᠢ" onclick="if(this.value='ᠵᠠᠩᠭᠢᠯᠠᠭ᠎ᠠ ᠶ᠋ᠢᠨ ᠦᠭᠡᠰ ᠢᠶᠡᠨ ᠡᠨᠳᠡ ᠪᠢᠴᠢ'){this.value='';this.style.color='a8a8b7';}" onblur="if(this.value==''){ this.value='ᠵᠠᠩᠭᠢᠯᠠᠭ᠎ᠠ ᠶ᠋ᠢᠨ ᠦᠭᠡᠰ ᠢᠶᠡᠨ ᠡᠨᠳᠡ ᠪᠢᠴᠢ';this.style.color='a8a8b7';}else{this.style.color='a8a8b7';}">
                <button class="btn_search_bb" type="submit" id="searchByWord"/>
            </form>
        </div>

    </div>
    <div class="xl_right_box_a mw">

        <div class="pdf_box">
            <div class="rl mw f18" style="writing-mode: vertical-lr">
                <form th:action="@{~/epaper/paper}" method="get">
                    <div style="writing-mode: horizontal-tb;-ms-writing-mode: lr-tb;width: 350px" >
                    <div class="input-group date form_date col-md-15" style="width: 350px;padding: 12px;font-family:'sans-serif';" >
                            <input name="releaseDate" class="form-control" type="text" th:value="${releaseDate}" style="font-size: 16px;text-align: center;" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <button class="btn_search" type="submit">
                </form>
            </div>
            <div class="pdf">
                <div id='image-map' style="width:390px; height:502px;-ms-writing-mode: lr-tb"></div>
            </div>
        </div>
        <div  th:each="page:${pageList}" style="margin: 5px">
            <p onclick="switchPage(this)" class="left_b_p" th:if="${page.id} !=${currentId}"  data-th-text="${page.pageName}" th:attr="pageId=${page.id},releaseDate=${releaseDate}" style="cursor:pointer;"></p>
            <p onclick="switchPage(this)" class="left_b_p_c" th:if="${page.id} ==${currentId}" data-th-text="${page.pageName}" th:attr="pageId=${page.id},releaseDate=${releaseDate}" style="cursor:pointer;"></p>
        </div>

        <div  class="xl_right_box_b mw" style="left: 460px;">
            <div id="searchList">
                <div th:each="article:${articleList}">
                    <div class="js_title" data-th-attr="coordinate=${article.coordinate}">
                        <ul>
                            <a data-th-text="${article.title}"></a>
                            <p style="writing-mode: sideways-rl"><span data-th-text="${#dates.format(article.releaseDate, 'yyyy')}"></span> ᠣᠨ ᠤ <span data-th-text="${#dates.format(article.releaseDate, 'MM')}"></span> ᠰᠠᠷ᠎ᠠ ᠶ᠋ᠢᠨ  <span data-th-text="${#dates.format(article.releaseDate, 'dd')}"></span> ᠡᠳᠦᠷ ᠤᠨ ᠰᠣᠨᠢᠨ</p>
                        </ul>
                    </div>
                    <div class="js_content f18">
                        <li data-th-utext="${article.contentHtml}"></li>
                        <a th:href="@{'article/'+${article.id}}" style="color: #00A4FF;margin:400px 0px 0px 10px; font-family:'MenkGarqag'; font-size:16px; ">ᠠᠭᠤᠯᠭ᠎ᠠ ᠶ᠋ᠢᠨ ᠲᠣᠳᠣᠷᠬᠠᠢ ᠪᠠᠢᠳᠠᠯ</a>
                        <dd style="writing-mode: sideways-rl">ᠨᠠᠢᠷᠠᠭᠤᠯᠤᠭᠴᠢ ᠄ <span data-th-text="${article.author}"></span></dd>
                    </div>
                </div>
            </div>
            <div class="xl_footer f18">
                <span style="font-family:'sans-serif'">2008-2018</span> © ᠳᠤᠮᠳᠠᠳᠤ ᠤᠯᠤᠰ ᠤᠨ ᠮᠤᠩᠭᠤᠯ ᠬᠡᠯᠡᠨ ᠤ ᠰᠤᠨᠢᠨ ᠮᠡᠳᠡᠭᠡᠨ ᠤ ᠰᠦᠯᠵᠢᠶ᠎ᠡ ᠦᠮᠴᠢᠯᠡᠯ ᠤᠨ ᠡᠷᠬᠡ ᠲᠠᠢ<Br>
                ᠵᠤᠬᠢᠶᠠᠭᠴᠢ ᠶᠢᠨ ᠡᠷᠬᠡ ᠬᠠᠤᠯᠢ ᠪᠠᠷ ᠬᠠᠮᠠᠭᠠᠯᠠᠭᠳᠠᠭᠰᠠᠨ᠂ ᠵᠦᠪᠰᠢᠶᠡᠷᠡᠯ ᠦᠭᠡᠢ ᠪᠠᠷ ᠬᠠᠭᠤᠯᠪᠤᠷᠢᠯᠠᠬᠤ ᠶᠢ ᠬᠠᠲᠠᠭᠤ ᠬᠤᠷᠢᠭᠯᠠᠨ᠎ᠠ<Br>
                ᠦᠪᠦᠷ ᠮᠣᠩᠭᠣᠯ ᠤᠨ ᠣᠶᠣᠨ ᠵᠠᠩᠬᠢ ᠮᠡᠷᠭᠡᠵᠢᠯ ᠤᠨ ᠦᠢᠯᠡᠴᠢᠯᠡᠭᠡᠨ ᠤ ᠬᠢᠵᠠᠭᠠᠷᠲᠤ ᠺᠣᠮᠫᠠᠨᠢ ᠮᠡᠷᠭᠡᠵᠢᠯ ᠬᠠᠩᠭᠠᠪᠠ<br>
                ᠬᠠᠷᠢᠯᠴᠠᠬᠤ ᠤᠲᠠᠰᠤ᠄ <span style="font-family:'sans-serif'">0471-6659832</span><Br>
                ᠢᠮᠧᠯ᠄ tn@mgyxw.net   蒙ICP备10000005号
            </div>
        </div>
    </div>
</div>
<script src="../../js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script src="../../js/jquery.form.min.js" th:src="@{/js/jquery.form.min.js}"></script>
<script src="../../libs/hotspots/js/leaflet-src.js" th:src="@{/libs/hotspots/js/leaflet-src.js}"></script>
<script src="../../libs/hotspots/js/leaflet.draw-src.js" th:src="@{/libs/hotspots/js/leaflet.draw-src.js}"></script>
<script src="../../libs/hotspots/js/leaflet.label.js" th:src="@{/libs/hotspots/js/leaflet.label.js}"></script>
<script src="../../libs/hotspots/js/leaflet.draw.lang.zh-cn.js" th:src="@{/libs/hotspots/js/leaflet.draw.lang.zh-cn.js}"></script>
<script src="../../libs/hotspots/js/pinyin_dict_firstletter.js" th:src="@{/libs/hotspots/js/pinyin_dict_firstletter.js}"></script>
<script src="../../libs/hotspots/js/pinyinUtil.js" th:src="@{/libs/hotspots/js/pinyinUtil.js}"></script>
<script src="../../js/papers/datepicker/bootstrap-datetimepicker.min.js" th:src="@{/js/papers/datepicker/bootstrap-datetimepicker.min.js}"></script>
<script src="../../js/papers/datepicker/locales/bootstrap-datetimepicker.zh-CN.js" th:src="@{/js/papers/datepicker/locales/bootstrap-datetimepicker.zh-CN.js}"></script>

<script>
    $(document).ready(function(){
        $(".js_title").click(function(){
            $(".js_title").css('background',"#cecebf");
            $(this).next().addClass('a').toggle();
            $('.js_content').not('.a').hide();
            $(this).css('background',"#cecebf");
            $('.js_content').toggleClass('a');
            $(".js_title ul a").css('color',"#020001");
            $(".js_title ul p").css('color',"#444");
            if($(this).next().css("display")=="none"){
                $(this).css('background',"#cecebf");
                $(this).find('a').css('color',"#020001");
            }else{
                $(this).css('background',"#cecebf");
                $(this).find('a').css('color',"#8D4703");
                $(this).find('p').css('color',"#8D4703");
            }

        });
    });
</script>
<script>
    function articleDetail(articleId){
        location.href = "/epaper/article/"+articleId;
    }

    function switchPage(e){
        var pageId = $(e).attr('pageId');
        var releaseDate = $(e).attr('releaseDate');
        location.href = "/epaper/paper?releaseDate="+releaseDate+"&pageId="+pageId;
    }
</script>

<script type="text/javascript">
    $('.form_date').datetimepicker({
        format: 'yyyy-mm-dd',
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 4,
        minView: 2,
        forceParse: 1,
        initialDate:"1951-01-01"
    });
</script>
<script th:inline="javascript">
    var pageImagePath = [[${pageImagePath}]];
    var coordinate = "";
    var coordinateMap = [[${coordinateMap}]];
    var map = null;
    var temp = 0;
    var drawnItems;
    var mapDOMid = '';
    var existPoint = [];
    var existPoint_bak = [];
    var Background = '';
    var Background_bak = '';
    var areaArr = {};
    var areaArr_bak = {};
    var pointAttr = [];
    var savePoint = [];
    var weight = 2;
    var textFontSize_default = 14;
    var colorList = ["#ffbf26","#ff6438","#2cfff5","#c556ff","#ff4c5f","#0bed07","#4d596c","#8AC007","#ccb324","#FFAD5C","#72ff71","#ff78af","#93adff","#ffb3cf"];
    function init(domId,imgUrl,coordinateMap,callback) {
        if(typeof(map) != 'undefined' && map != null){map.remove();}
        var _tmpIMG = new Image();
        _tmpIMG.src = imgUrl;
        _tmpIMG.onload = function() {
            var _tmpThis = this;
            var _tmpIMG_width = _tmpThis.width;
            var _tmpIMG_height = _tmpThis.height;
            map = new L.Map(domId, {
                crs: L.CRS.Simple,
                zoom:3,
                maxZoom : 5,
                minZoom : -3.5,
                center:[210,300]
            });

            var southWest = map.unproject([ 0, 0 ], map.getMinZoom() - 5);
            var northEast = map.unproject([ 210,300 ], map.getMaxZoom() - 5);
            var bounds = new L.LatLngBounds(southWest, northEast);
            // add the image overlay, so that it covers the entire map
            var image = L.imageOverlay(imgUrl, bounds).addTo(map);

            // tell leaflet that the map is exactly as big as the image
            map.setMaxBounds(bounds);
            map.fitBounds(bounds);
            drawnItems = new L.FeatureGroup();
            showAllPoint(coordinateMap);
            map.addLayer(drawnItems);

            drawnItems.on('click', OnClick);
        };
    }
    function OnClick(e) {
        var _latlngs = e.layer._latlngs;
        var points = [];
        $.each(_latlngs,function (k,v) {
            points[k] ={
                'lat': v.lat,
                'lng': v.lng
            };
        })
        $.each(coordinateMap,function(value,key,index){
            var pointList = JSON.parse(key).latlngs
            console.log(value);
            if (compareArraySort(points,pointList)){
                console.log(value);
                articleDetail(value);
            } else {
            }
        })
    }
    function compareArraySort(a1,a2){
        if ((!a1 && a2) || (a1 && ! a2)) return false;
        if (a1.length !== a2.length) return false;
        a1 = [].concat(a1);
        a2 = [].concat(a2);
        a1 = a1.sort();
        a2 = a2.sort();
        for (var i = 0, n = a1.length; i < n; i++) {
            if (a1[i].lat !== a2[i].lat||a1[i].lng !== a2[i].lng) return false;
        }
        return true;
    }
    function showAllPoint(map){
        $.each(map,function(i,v,k){
            var n = JSON.parse(v);
            switch(n.type){
                case 'polygon':
                    var polygon = new L.Polygon(n.latlngs,{
                        weight : 0,
                        color : "#FFFFFF",
                        fillOpacity: 0
                    })
                    polygon.addTo(drawnItems);

                    pointAttr.push({
                        'leaflet_id': polygon._leaflet_id,
                        'type': n.type,
                        'area': n.area,
                        'area_id': n.area_id
                    });
                    break;
                case 'rectangle':
                    var rectangle = new L.Rectangle(n.latlngs,{
                        weight : 0,
                        color : "#FFFFFF",
                        fillOpacity: 0
                    })
                    rectangle.addTo(drawnItems);
                    pointAttr.push({
                        'leaflet_id': rectangle._leaflet_id,
                        'type': n.type,
                        'area': n.area,
                        'area_id': n.area_id
                    });
                    break;
            }
        })
    }

    function showPoint(n){
        switch(n.type){
            case 'polygon':
                var polygon = new L.Polygon(n.latlngs,{
                    weight : weight,
                    color : getColorByRandom()
                })
                polygon.addTo(drawnItems);

                pointAttr.push({
                    'leaflet_id': polygon._leaflet_id,
                    'type': n.type,
                    'area': n.area,
                    'area_id': n.area_id
                });
                break;
            case 'rectangle':
                var rectangle = new L.Rectangle(n.latlngs,{
                    weight : weight,
                    color : getColorByRandom()
                })
                rectangle.addTo(drawnItems);
                pointAttr.push({
                    'leaflet_id': rectangle._leaflet_id,
                    'type': n.type,
                    'area': n.area,
                    'area_id': n.area_id
                });
                break;
        }
    }
    function getRandomColor(){//随机颜色
        return '#'+Math.floor(Math.random()*16777215).toString(16);
    }
    function getColorByRandom(){//随机取出列表内的颜色
        var colorIndex = Math.floor(Math.random()*colorList.length);
        var color = colorList[colorIndex];
//        colorList.splice(colorIndex,1);//除去抽中项
        return color;
    }
    $(document).ready(function(){
        mapDOMid = 'image-map';
        existPoint = "";
        Background = pageImagePath;
        //数据备份
        existPoint_bak = existPoint;
        Background_bak = Background;
        areaArr_bak = jQuery.extend(true, {}, areaArr);
        init(mapDOMid,Background,coordinateMap,function(){
        });
    });
</script>
</body>
</html>
