/*
 * css  2018.10.14
*/
@font-face{
font-family:'Menksoft2012';
font-style:normal;
font-weight:normal;
src:url('../font/Menksoft2012.eot');
src:url('../font/Menksoft2012.eot?#iefix') format('embedded-opentype'),
url('../font/Menksoft2012.woff') format('woff'),
url('../font/Menksoft2012.ttf') format('truetype');
}
@font-face{
font-family:'MenkGarqag';
font-style:normal;
font-weight:normal;
    src: url('../fonts/OyunQaganTig3.0_20180426.ttf') format('opentype');
}
@font-face{
font-family:'Hawang';
font-style:normal;
font-weight:normal;
src:url('../font/MenkHawang.eot');
src:url('../font/MenkHawang.eot?#iefix') format('embedded-opentype'),
url('../font/MenkHawang.woff') format('woff'),
url('../font/MenkHawang.ttf') format('truetype');
}

@font-face {
    font-family: Hawang;
    src: url('../fonts/Oyun Hawang Tig20180420.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Biqimel;
    src: url('../fonts/Oyun Gar Biqimel Tig20180421.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Har_a;
    src: url('../fonts/Oyun Har_a Tig20180419.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Sonin;
    src: url('../fonts/Oyun Sonin Tig20180501.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

a:visited{text-decoration:none;}
a:active{text-decoration:none;}
a:link{text-decoration:none;}
a:hover{text-decoration:none;}

body { margin:0 auto; font-family:"Menksoft2012"; background:#fff; }
a img { border:0; }
ul,li,dl,p { list-style:none; margin:0; padding:0; display:list-item; }

.st { font-family:"宋体"; }
.f12 { font-size:12px; }
.f14 { font-size:14px; }
.f18 { font-size:18px; }
.f20 { font-size:20px; }

.mw { text-align:justify;
    writing-mode:tb-lr;
    -webkit-writing-mode:vertical-lr;
    -webkit-text-orientation: sideways-right;
    -o-writing-mode: vertical-lr;
    moz-writing-mode: vertical-lr;
    -moz-writing-mode: vertical-lr !important;
    writing-mode: vertical-lr !important;
    -webkit-writing-mode: vertical-lr !important;
    -o-writing-mode: vertical-lr !important;
    -ms-writing-mode: tb-lr !important;
    writing-mode: tb-lr !important;
    letter-spacing:0px;
    word-wrap:break-word;
    word-break:keep-all;
    font-family:"MenkGarqag";
}

/*首页开始*/
.box { width:1094px; margin:0 auto; overflow:hidden; }
.header { width:100%; margin:0 auto; border-bottom:2px solid #2693ff; background:url("../images/logo_c.png") no-repeat center 20px; padding:40px 0px 40px 0px; }

.logo_l { width:204px; height:105px; float:left; }
.logo_r { width:204px; height:105px; float:right; }

.left_box { width:468px; float:left; margin-top:18px; }
.rl { width:100%; height:60px; float:left; overflow:hidden; writing-mode: horizontal-tb }
.rl p { color:#79796a; font-family:"MenkGarqag"; padding-top:4px; }
.rl li { width:350px; float:left; border:2px solid #7a7a6b; height:60px; border-radius:4px; margin-left:10px; position:relative; }
.demo-input{ width:68px; height:25px; float:left; margin:15px 0px 0px 20px; color:#79796a; padding-left:3px; }
.yue_ri { width:48px; float:left; margin:15px 0px 0px 20px; color:#79796a; }
.rl li span { float:left; color:#79796a; font-family:"MenkGarqag"; margin:17px 0px 0px 10px; }
.btn_search { width:24px; height:46px; float:left; margin:7px 0px 0px 16px; background:url("../images/ss.png") no-repeat; border:0; display:inline-block; }

.left_b { width:100%; float:left; margin-top:34px; height:580px; }
.left_b_p { float:left; padding:16px 8px 16px 8px; background:#2693ff; color:#fff; border-radius:5px; font-family:"Sonin"; font-size:18px; }
.left_b_text { width:395px; float:left; background:url("../images/num.png") no-repeat top; padding-top:36px; padding-left:11px; }
.left_b_text a { width:58px; float:left; background:#f8f8f1; margin-left:4px; color:#2693ff; height:100%;}
.left_b_text a:hover { color:#646462; }
.left_b_text a ul { float:left; width:100%; height:440px; }
.left_b_text a ul li { height:100%; float:left; font-size:18px; margin:12px 0px 0px 5px; font-family:"MenkGarqag"; }
.shijian {  margin-top:220px; float:left; padding-left:2px; }
.nums { width:100%; background:url("../images/a.png") no-repeat top; float:left; font-size:14px; font-family:"microsoft yahei"; color:#646462; padding:30px 0px 0px 20px; margin-top:10px; }
.left_b span { width:26px; height:67px; float:left; margin-top:508px; }

.left_c { width:100%; float:left; margin-top:30px; }
.left_c p { float:left; padding:16px 8px 16px 8px; background:#9b9b8c; color:#fff; border-radius:5px; font-family:"MenkGarqag"; font-size:18px; }
.left_c ul { width:408px; float:right; background:#bdbdae; border-radius:5px; height:280px; padding:5px; }
.left_c ul img { width:280px; height:100%; float:left; }
.left_c ul span { height:100%; float:left; padding:10px 0px 10px 0px; line-height:180%; font-family:"MenkGarqag"; font-size:18px; margin-left:14px; }
.left_c ul a { color:#0085b2; }

.right_box { width:626px; float:right; margin-top:18px; height:1000px; }
.ss { width:46px; height:500px; float:right; background:url("../images/ss_b.png") no-repeat top; padding-top:64px; padding-left:3px; }
.btn_search_a { -ms-transform:rotate(90deg) translate(0, -100%);-ms-transform-origin:0% 0%;-webkit-transform:rotate(90deg) translate(0, -100%);-webkit-transform-origin:0% 0%;-moz-transform:rotate(90deg) translate(0,-100%);-moz-transform-origin:0% 0%;-o-transform:rotate(90deg) translate(0,-100%);-o-transform-origin:0% 0%;/* white-space:nowrap; */ width:560px; float:left; height:42px; border:1px solid #acac9d; font-size:18px; color:#a8a8b7; padding-left:20px; font-family:"MenkGarqag"; }
.btn_search_b { width:37px; height:42px; float:left; margin:530px 0px 0px 3px; background:url("../images/ss_c.png") no-repeat; border:0; }

.lm_name { float:left; padding:16px 8px 16px 8px; background:#d96d00; color:#fff; border-radius:5px; font-family:"Sonin"; font-size:18px; margin:20px 0px 0px 0px; }
.news { width:500px; float:left; margin:30px 0px 0px 10px; }
.news li { width:28px;  height:600px; float:left; margin-left:10px; background:url("../images/xian.png") repeat-y top center; position:relative; }
.news li a { width:100%; color:#333; float:left;padding:20px 0px 0px 3px; background:#fff url("../images/b.png") no-repeat top center; padding-bottom:10px;}
.news li p { width:100%; color:#727272; float:left; background:#fff; left:0; bottom:0; position:absolute; padding-left:3px; padding-top:10px;}

.footer { width:100%; margin:0 auto; background:#e8e8e8; padding:20px 0px 10px 0px; margin-top:20px; text-align:center; line-height:180%; }
input,textarea{resize:none;}
input,textarea:focus,select:focus{outline:none;}

.focus{float:left; border:4px solid #bdbdae; border-radius:5px; margin-right:16px; width:560px; height:358px;overflow:hidden;position:relative;}
#imgPlay{ float:left; border:4px solid #bdbdae; border-radius:5px; margin-right:16px; overflow:hidden;position:relative;width:560px;zoom:1; height:358px;}
#imgPlay .imgs img{width:560px; }
#imgPlay .imgs li{float:left;position:relative; height:358px; }
#imgPlay .num { width:auto; position:absolute; top:315px; left:50%; margin:0 0 0 -44px;height:19px; text-align:center;}
#imgPlay .num span{display:inline-block;width:14px;height:13px;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;background:#b7b7b7;overflow:hidden;*zoom:1;cursor:pointer;margin:3px 3px 0 3px;}
#imgPlay .num span.on{background:#FF4400;}
.focu_text { width:auto; height:100%; background:#000; right:0; top:0; color:#FFF; line-height:26px; text-decoration:none; z-index:99; text-align:left; position:absolute; padding:10px 14px 10px 6px; background:url("../images/03.png"); }
.pageNumber{
    writing-mode: horizontal-tb;
}
.page-active{
    text-decoration:underline
}
